.modal-backdrop{
    opacity:0.8 !important;
}
.__pp button.close{
  position:absolute;
  color:#fff;
  opacity:.8;
  top:20px;
  right:20px;
}
.__pp button.close:hover{
  opacity:1;
}
.__pp .modal-content{
  background-color:rgba(255,255,255,0);
  border:none;
}