.dados-gerais-step-content .dropzone-container .form-group.fv-plugins-icon-container{
  position:absolute;
  right:24px;
  top:0;
}

.dados-gerais-step-content i[data-field='has_images']{
  position: absolute;
  right: -34px;
  text-align: center;
  top: -5px;
}

.video-step-content i[data-field='imageorvideo']{
  position: absolute;
  right: -34px;
  text-align: center;
  top: -5px;
}

small[data-fv-for="imageorvideo"]{
  position:absolute;
  right:0;
  top:-20px;
}

i[data-fv-icon-for='imageorvideo']{
  position:absolute;
  right:3px;
  top:0;
}


.__sortable-list{
  height:350px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      ███████╗    ██╗    ███████╗    ███████╗    ███████╗
      ██╔════╝    ██║    ╚══███╔╝    ██╔════╝    ██╔════╝
      ███████╗    ██║      ███╔╝     █████╗      ███████╗
      ╚════██║    ██║     ███╔╝      ██╔══╝      ╚════██║
      ███████║    ██║    ███████╗    ███████╗    ███████║
      ╚══════╝    ╚═╝    ╚══════╝    ╚══════╝    ╚══════╝
                                                        
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.checkbox-decorator{
  padding:0!important;
}

.checkbox .checkbox-decorator{
  position:relative;
  margin:auto!important;
}
